/** TABLES */
.book-body .page-wrapper .page-inner section.normal table td {
    padding: 4px 8px;
}

.schema-table .schema-description {
    -ms-word-break: break-all;
    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}